{% extends 'index.html' %}

{% block content %}
  <section>
    <h2>About Me</h2>
    <p>As a recent graduate in Architectural Engineering from DTU, I have developed a strong foundation in computational design. Alongside my academic work, I have nearly two years of experience at Gehl, an architecture studio, where I gained vast experience in visual programming and environmental simulations. My master's thesis, completed in collaboration with Rambøll, showcased my programming abilities in developing an LCA tool, gaining a deep understanding of the importance of integrating data-driven approaches into the field of architectural engineering. As a self-motivated individual, I constantly explore new technologies to enhance my skillset to leverage efficiency in the field of AEC. I am passionate about utilizing my skills and knowledge to contribute to the growth and success of any team I am a part of.</p>
  </section>
{% endblock %}