{% extends 'base.html' %}

{% block content %}
  <section>
    <h2>Solar Decathlon</h2>
    <p>Description of project 1 goes here.</p>
    <p>Here's an image related to the project:</p>

    <img src="{{ url_for('static', filename='images/photo1.jpg') }}" alt="Project 1 Image" class="project-image">
    <img src="{{ url_for('static', filename='images/solarDec/SolarDec_01.png') }}" alt="Project 1 Image" class="project-image">

    <iframe width="560" height="315" src="https://youtu.be/onnx2pSo9mE" frameborder="1" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    
    <br>
    <a href="/projects" class="back-button"><strong>Back</strong></a>
  </section>

  <style>
    .back-button {
      font-size: 20px !important;
      font-family: 'Source Code Pro', monospace !important;
      color: #333 !important;
      text-decoration: none !important;
    }


    .project-image {
      width: 50%;
      float: right;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  </style>
{% endblock %}
